<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    <p> </p>
    <p> <%= aboutContent2 %> </p>
    <p> </p>
    <p> <%= aboutContent3 %> </p>
<%- include("partials/footer"); -%>
